<a routerLink="/"><fa-icon [icon]="['fas', 'home']"/> Home</a>
<div class="container ">
  <div class="row">
    <div class="col-md-3 ">Title</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Description</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Category</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Level</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Prerequisite</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Tags</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">Copyright</div>
    <div class="col-md-9">Enter field to edit </div>
  </div>
</div>

<button type="button" class="btn btn-primary"
        (click)="onClickSubmit()">Submit</button>

<button class="btn btn-primary" [routerLink]="['/lesson', 1234 ]">Detail
  for lesson 1234</button>

